flows.json
[
    {
        "id": "2bf117dae05b2643",
        "type": "tab",
        "label": "Project I",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee4aa16560981bad",
        "type": "ui_dropdown",
        "z": "2bf117dae05b2643",
        "name": "",
        "label": "Box number",
        "tooltip": "",
        "place": "Select option",
        "group": "ad78c0eba9c199b6",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "msg1",
        "topicType": "str",
        "className": "",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "4df513d10049854c",
                "b392efd05b58a96f",
                "20635778ecbf6fe0"
            ]
        ]
    },
    {
        "id": "58142c51a0d7d196",
        "type": "ui_table",
        "z": "2bf117dae05b2643",
        "group": "ad78c0eba9c199b6",
        "name": "",
        "order": 4,
        "width": 11,
        "height": 5,
        "columns": [
            {
                "field": "box_number",
                "title": "box_number",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "box_detail",
                "title": "box_detail",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "existence_of_box",
                "title": "existence_of_box",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "box_status",
                "title": "box_status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "color",
                "title": "traffic",
                "width": "",
                "align": "left",
                "formatter": "color",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1610,
        "y": 160,
        "wires": []
    },
    {
        "id": "345a0aa82b5b9726",
        "type": "ui_text",
        "z": "2bf117dae05b2643",
        "group": "ad78c0eba9c199b6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Working status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1640,
        "y": 60,
        "wires": []
    },
    {
        "id": "c5974b415b7eaa52",
        "type": "mqtt in",
        "z": "2bf117dae05b2643",
        "name": "",
        "topic": "working_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8cbe99044b964c1e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1440,
        "y": 60,
        "wires": [
            [
                "345a0aa82b5b9726"
            ]
        ]
    },
    {
        "id": "d47535a775f45ac0",
        "type": "mqtt in",
        "z": "2bf117dae05b2643",
        "name": "",
        "topic": "information",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "8cbe99044b964c1e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f632798495d39b81",
        "type": "mqtt out",
        "z": "2bf117dae05b2643",
        "name": "",
        "topic": "box_number",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8cbe99044b964c1e",
        "x": 1610,
        "y": 460,
        "wires": []
    },
    {
        "id": "bb6b430141509ae2",
        "type": "mqtt out",
        "z": "2bf117dae05b2643",
        "name": "",
        "topic": "task_type",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8cbe99044b964c1e",
        "x": 1760,
        "y": 580,
        "wires": []
    },
    {
        "id": "4df513d10049854c",
        "type": "debug",
        "z": "2bf117dae05b2643",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 380,
        "wires": []
    },
    {
        "id": "c65d94fa5d4fae68",
        "type": "template",
        "z": "2bf117dae05b2643",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "box number: {{payload.msg1}}  task: {{payload.msg2}}",
        "output": "str",
        "x": 1060,
        "y": 680,
        "wires": [
            [
                "b9ab3444319eece3"
            ]
        ]
    },
    {
        "id": "b9ab3444319eece3",
        "type": "ui_toast",
        "z": "2bf117dae05b2643",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "cancel",
        "raw": false,
        "className": "",
        "topic": "conf",
        "name": "",
        "x": 1230,
        "y": 680,
        "wires": [
            [
                "077834790672e9eb",
                "7d3f7b71e5936667"
            ]
        ]
    },
    {
        "id": "55c8e1e7e2d3a78d",
        "type": "ui_text",
        "z": "2bf117dae05b2643",
        "group": "ad78c0eba9c199b6",
        "order": 16,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Task:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 350,
        "y": 680,
        "wires": []
    },
    {
        "id": "b392efd05b58a96f",
        "type": "ui_text",
        "z": "2bf117dae05b2643",
        "group": "ad78c0eba9c199b6",
        "order": 15,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Box number:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 680,
        "wires": []
    },
    {
        "id": "3be756ac4c7086ee",
        "type": "ui_button",
        "z": "2bf117dae05b2643",
        "name": "",
        "group": "ad78c0eba9c199b6",
        "order": 12,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "send",
        "payloadType": "str",
        "topic": "msg2",
        "topicType": "str",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "55c8e1e7e2d3a78d",
                "20635778ecbf6fe0"
            ]
        ]
    },
    {
        "id": "b4c837b21d8f3af6",
        "type": "ui_button",
        "z": "2bf117dae05b2643",
        "name": "",
        "group": "ad78c0eba9c199b6",
        "order": 14,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Get",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "get",
        "payloadType": "str",
        "topic": "msg2",
        "topicType": "str",
        "x": 490,
        "y": 540,
        "wires": [
            [
                "55c8e1e7e2d3a78d",
                "20635778ecbf6fe0"
            ]
        ]
    },
    {
        "id": "20635778ecbf6fe0",
        "type": "function",
        "z": "2bf117dae05b2643",
        "name": "function 21",
        "func": "let m1 = context.get(\"msg1\");\nlet m2 = context.get(\"msg2\");\nlet btn = context.get(\"button\");\n\n// Store depending on topic\nif (msg.topic === \"msg1\") {\n    m1 = msg.payload;\n    context.set(\"msg1\", m1);\n}\nelse if (msg.topic === \"msg2\") {\n    m2 = msg.payload;\n    context.set(\"msg2\", m2);\n}\nelse if (msg.topic === \"button\") {\n    btn = msg.payload;\n    context.set(\"button\", btn);\n}\n\n// Output only when both are available\nif ((m1 !== null && m1 !== undefined) && \n    (m2 !== null && m2 !== undefined) && \n    (btn !== null && btn !== undefined)) {\n    // Optional: reset after sending\n    // context.set(\"msg1\", null);\n    // context.set(\"msg2\", null);\n    context.set(\"button\", null);\n\n    msg.topic = \"message\";\n    return {\n        topic: \"message\",\n        payload: {\n            msg1: m1,\n            msg2: m2\n        }\n    };\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 680,
        "wires": [
            [
                "5ab34f864c1defc6",
                "c65d94fa5d4fae68",
                "7d3f7b71e5936667"
            ]
        ]
    },
    {
        "id": "c5be79d24306486a",
        "type": "inject",
        "z": "2bf117dae05b2643",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "x": 190,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6be69b411f3efa12",
        "type": "inject",
        "z": "2bf117dae05b2643",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "a",
        "x": 190,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "5ab34f864c1defc6",
        "type": "debug",
        "z": "2bf117dae05b2643",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 740,
        "wires": []
    },
    {
        "id": "95be9bbb086d6ba2",
        "type": "ui_button",
        "z": "2bf117dae05b2643",
        "name": "",
        "group": "ad78c0eba9c199b6",
        "order": 17,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "OK",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "button",
        "topicType": "str",
        "x": 690,
        "y": 680,
        "wires": [
            [
                "20635778ecbf6fe0"
            ]
        ]
    },
    {
        "id": "7d3f7b71e5936667",
        "type": "function",
        "z": "2bf117dae05b2643",
        "name": "function 22",
        "func": "let message = context.get(\"message\");\n// let message = msg.payload;\nlet conf = context.get(\"conf\");\n\nif (msg.topic === \"message\") {\n    message = msg.payload;\n    context.set(\"message\", message);\n}\nelse if (msg.topic === \"conf\") {\n    conf = msg.payload;\n    context.set(\"conf\", conf);\n}\n\n// Only send when both available\nif (conf === \"OK\" && message !== null) {\n    context.set(\"conf\", null);     // reset if needed\n    // context.set(\"message\", null);\n    msg.topic = \"message\";\n    return { payload: message };   // ✅ send as message\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 580,
        "wires": [
            [
                "3ac51a10db5e754b",
                "c8b7e4523a1cd8d9",
                "6a21248cb16676ae"
            ]
        ]
    },
    {
        "id": "3ac51a10db5e754b",
        "type": "debug",
        "z": "2bf117dae05b2643",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 520,
        "wires": []
    },
    {
        "id": "077834790672e9eb",
        "type": "debug",
        "z": "2bf117dae05b2643",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 740,
        "wires": []
    },
    {
        "id": "c8b7e4523a1cd8d9",
        "type": "function",
        "z": "2bf117dae05b2643",
        "name": "function 23",
        "func": "if (msg.payload && msg.payload.msg1 !== undefined) {\n    return {\n        topic: \"box_number\",\n        payload: msg.payload.msg1\n    };\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 460,
        "wires": [
            [
                "f1b01ad4bfaaa519",
                "f632798495d39b81"
            ]
        ]
    },
    {
        "id": "f1b01ad4bfaaa519",
        "type": "debug",
        "z": "2bf117dae05b2643",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a21248cb16676ae",
        "type": "function",
        "z": "2bf117dae05b2643",
        "name": "function 24",
        "func": "if (msg.payload && msg.payload.msg2 !== undefined) {\n    return {\n        topic: \"task_type\",\n        payload: msg.payload.msg2\n    };\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 580,
        "wires": [
            [
                "f0433c4e31af725d"
            ]
        ]
    },
    {
        "id": "17bb936ba27421f5",
        "type": "debug",
        "z": "2bf117dae05b2643",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 520,
        "wires": []
    },
    {
        "id": "f0433c4e31af725d",
        "type": "delay",
        "z": "2bf117dae05b2643",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1560,
        "y": 580,
        "wires": [
            [
                "bb6b430141509ae2",
                "17bb936ba27421f5"
            ]
        ]
    },
    {
        "id": "fd563948413c4560",
        "type": "ui_table",
        "z": "2bf117dae05b2643",
        "group": "ad78c0eba9c199b6",
        "name": "history",
        "order": 7,
        "width": 11,
        "height": 3,
        "columns": [
            {
                "field": "id",
                "title": "id",
                "width": "",
                "align": "left",
                "formatter": "rownum",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "timestamp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "box_number",
                "title": "box_number",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "existence_of_box",
                "title": "existence_of_box",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "status",
                "title": "status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1610,
        "y": 260,
        "wires": []
    },
    {
        "id": "15a8989bbd58a661",
        "type": "mysql",
        "z": "2bf117dae05b2643",
        "mydb": "d3c942ca9526c137",
        "name": "storage",
        "x": 780,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8d0313bda0f09640",
        "type": "function",
        "z": "2bf117dae05b2643",
        "name": "function 25",
        "func": "let data = msg.payload;\n\n// Escape single quotes in status to avoid SQL errors\nlet status = String(data.status).replace(/'/g, \"''\");\n\nlet sql = `\nINSERT INTO boxes_history (timestamp, box_number, existence_of_box, status)\nVALUES (NOW(), ${data.box_number}, ${data.existence_of_box}, '${status}');\n`;\n\nmsg.topic = sql;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "15a8989bbd58a661"
            ]
        ]
    },
    {
        "id": "2ed759f87b0c6b6a",
        "type": "inject",
        "z": "2bf117dae05b2643",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"box_number\":10,\"existence_of_box\":true,\"status\":\"active\"}",
        "payloadType": "json",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "8d0313bda0f09640"
            ]
        ]
    },
    {
        "id": "e94446416c51675b",
        "type": "mysql",
        "z": "2bf117dae05b2643",
        "mydb": "d3c942ca9526c137",
        "name": "storage",
        "x": 1420,
        "y": 260,
        "wires": [
            [
                "fd563948413c4560"
            ]
        ]
    },
    {
        "id": "cd7253fee3bc7e53",
        "type": "function",
        "z": "2bf117dae05b2643",
        "name": "function 26",
        "func": "let data = msg.payload;\n\n// Escape single quotes in status to avoid SQL errors\nlet status = String(data.status).replace(/'/g, \"''\");\n\nlet sql = \n`SELECT * FROM \\`boxes_history\\``\n;\n\nmsg.topic = sql;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 260,
        "wires": [
            [
                "e94446416c51675b"
            ]
        ]
    },
    {
        "id": "33834f464e348455",
        "type": "inject",
        "z": "2bf117dae05b2643",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "cd7253fee3bc7e53",
                "5d30c37d212e5a52"
            ]
        ]
    },
    {
        "id": "a7b9a478bbf2f173",
        "type": "ui_text",
        "z": "2bf117dae05b2643",
        "group": "ad78c0eba9c199b6",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "History",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1620,
        "y": 220,
        "wires": []
    },
    {
        "id": "df23219b44bbdf1c",
        "type": "ui_text",
        "z": "2bf117dae05b2643",
        "group": "ad78c0eba9c199b6",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Boxes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1610,
        "y": 120,
        "wires": []
    },
    {
        "id": "f55c22ae01023d2f",
        "type": "mysql",
        "z": "2bf117dae05b2643",
        "mydb": "d3c942ca9526c137",
        "name": "storage",
        "x": 1420,
        "y": 160,
        "wires": [
            [
                "58142c51a0d7d196"
            ]
        ]
    },
    {
        "id": "5d30c37d212e5a52",
        "type": "function",
        "z": "2bf117dae05b2643",
        "name": "function 27",
        "func": "let data = msg.payload;\n\n// Escape single quotes in status to avoid SQL errors\nlet status = String(data.status).replace(/'/g, \"''\");\n\nlet sql = \n`SELECT * FROM \\`boxes\\``\n;\n\nmsg.topic = sql;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 160,
        "wires": [
            [
                "f55c22ae01023d2f"
            ]
        ]
    },
    {
        "id": "1a3721d9c032bcc0",
        "type": "mysql",
        "z": "2bf117dae05b2643",
        "mydb": "d3c942ca9526c137",
        "name": "storage",
        "x": 780,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1063f8743369b449",
        "type": "ui_spacer",
        "z": "2bf117dae05b2643",
        "name": "spacer",
        "group": "ad78c0eba9c199b6",
        "order": 3,
        "width": 5,
        "height": 1
    },
    {
        "id": "3b48f5acc98e2899",
        "type": "ui_spacer",
        "z": "2bf117dae05b2643",
        "name": "spacer",
        "group": "ad78c0eba9c199b6",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "c19bf9da7a677522",
        "type": "ui_spacer",
        "z": "2bf117dae05b2643",
        "name": "spacer",
        "group": "ad78c0eba9c199b6",
        "order": 8,
        "width": 11,
        "height": 1
    },
    {
        "id": "53e71f9b85a7803d",
        "type": "ui_spacer",
        "z": "2bf117dae05b2643",
        "name": "spacer",
        "group": "ad78c0eba9c199b6",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "58b25a8cf2fa0c98",
        "type": "ui_spacer",
        "z": "2bf117dae05b2643",
        "name": "spacer",
        "group": "ad78c0eba9c199b6",
        "order": 11,
        "width": 11,
        "height": 1
    },
    {
        "id": "7bbcef19de819125",
        "type": "ui_spacer",
        "z": "2bf117dae05b2643",
        "name": "spacer",
        "group": "ad78c0eba9c199b6",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "ad78c0eba9c199b6",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "c6f6f31fe67b3898",
        "order": 1,
        "disp": true,
        "width": 11
    },
    {
        "id": "8cbe99044b964c1e",
        "type": "mqtt-broker",
        "name": "mossquitto zte_hello",
        "broker": "192.168.0.84",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d3c942ca9526c137",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "automatic_shuttle_storage",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "c6f6f31fe67b3898",
        "type": "ui_tab",
        "name": "Tab 12",
        "icon": "dashboard",
        "order": 12
    }
]